/*
    css 신기술
    https://velog.io/@blackeichi/CSS-%EC%B5%9C%EC%8B%A0-%EA%B8%B0%EC%88%A0
    https://developer.chrome.com/articles/css-nesting/
*/

:root {
    --primary-color: #17191D;
    --accent-color: #0077ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

[hidden] {
    display: none;
}

[center] {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
    font-family: 'MALGUN GOTHIC', 'sans serif';
    font-size: 14px;
    background-color: #f8f9fa;
    color: var(--primary-color);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: white;
    border-bottom: 1px solid #dde1e5;
    font-family: 'NEXON Gothic';
}

.logo__img{
    display: block;
}

.header__menu {
    width: 107px;
    font-size: 16px;
    cursor: pointer;
}

.header__menu > a {
    height: 100%;
    padding: 23px 23px 21px;
}

.header__nav {
    height: 100%;
    padding-right: 28px;
}

.header__nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s linear;
}

.hedaer__card,
.header__pcbang,
.haeder__register {
    height: 100%;
    padding: 0 5px 0 6px;
    margin-right: 8px;
}

.haeder__register,
.header__login {
    padding: 0 3px 0 3px;
}

.header__login {
    min-width: 85px;
    height: 36px;
    padding: 0 18px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 19px;
    border: 2px solid #17191d;
}

.haeder__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.haeder__register:hover {
    color: #07f;
}

.hedaer__card:hover .icon-card,
.header__pcbang:hover .icon-pcbang {
    background-color: #07f;
}

.header__login:hover {
    border-color: #07f;
    background-color: #07f;
    color: white;
}

.icon-pcbang,
.icon-card {
    display: block;
    width: 22px;
    height: 22px;
    transition: all .15s linear;
}

.icon-card {
    position: relative;
    background: #191919 url('../imgs/set_gnb_icon@2x.png') 0 0 no-repeat;
    background-size: 100px 350px;
}

/*
.icon-card::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url('../imgs/set_gnb_icon@2x.png');
    background-size: 50px 250px;
    background-repeat: no-repeat;
} 
*/

.icon-pcbang {
    background: #191919 url('../imgs/set_gnb_icon@2x.png') 0 0 no-repeat;
    background-size: 100px 350px;
    background-position: 0 -50px;
}

.base-hover > a,
.base-hover {
    transition: all 0.2s linear 0s;
}

.base-hover:hover > a,
.base-hover:hover {
    color: var(--accent-color);
}

.banner__div {
    height: 560px;
}

.banner__div .swiper-wrapper {
    min-height: 340px;
    max-height: 560px;
    overflow: hidden;
}

.banner__div .swiper-slide {
    /* height: 100%; */
}

.banner__div .swiper-slide a {
    height: 560px;
}

.hambuger {
    position: relative;
    width: 18px;
    height: 16px;
    margin-right: 11px;
}

.hambuger > span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #17191d;
    transition: all 0.2s linear 0s;
}

.hambuger > span:nth-child(1) {}
.hambuger > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hambuger > span:nth-child(3) {
    bottom: 0;
}

.base-hover:hover .hambuger > span {
    background-color: var(--accent-color);
}

.backdrop {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 10;
    transition: all .5s cubic-bezier(.23,1,.32,1);
}

.backdrop.open {
    visibility: visible;
    opacity: 0.7;
}

.side-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 440px;
    height: 100vh;
    background-color: white;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.side-nav.open {
    opacity: 1;
    transform: translateX(0);
}

.side-nav__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid #dde1e5;
}

.close-btn {
    padding: 23px;
}

.close-btn > div {
    position: relative;
    width: 18px;
    height: 18px;
}

.close-btn > div > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.2s linear 0s;
}

.close-btn > div > span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

.close-btn > div > span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.close-btn:hover > div > span {
    background-color: var(--accent-color);
}

.side-nav__tab {
    height: 75px;
    padding: 27px 42px 0;
}

.side-nav__list {
    display: flex;
    justify-content: space-between;
}

.all-game__button {
    display: block;
    height: 32px;
    font-size: 12px;
    padding-top: 9px;
    font-weight: bold;
    border-bottom: #17191D solid 2px;
    font-family: 'NEXON Gothic';
}

.custom-service__button {
    display: block;
    height: 32px;
    width: 80px;
    padding-top: 6px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #9fa1a7;
    color: #737881;
    text-decoration: none;
    font-size: 12px;
    transition: all .15s linear;
}

.side-nav__content {
    flex: 1;
    overflow: auto;
    padding-bottom: 50px;
}

.game-list__cell {
    width: 188px;
    font-size: 12px;
}

.game-list {
    display: flex;
    padding-left: 42px;
}

.game-list h3 {
    height: 50px;
    padding-top: 24px;
    font-size: 12px;
    font-family: 'NEXON Gothic';
}

.game-list__cell a {
    display: block;
    min-height: 24px;
    color: #737881;
    transition: all .15s linear;
    padding-bottom: 8px;
}

.game-list__cell a:hover {
    color: #07f;
}

.side-nav__footer {
    height: 195px;
    background-color: #222426;
    color: white;
    font-size: 12px;
}

.side-nav__footer a {
    display: block;
}

.side-nav__footer > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 145px;
    padding: 30px 0 0 33px;
}

.side-nav__footer > a {
    height: 50px;
    padding-top: 17px;
    text-align: center;
    background-color: #17191d;
    font-weight: 600;
}

.side-nav__footer ul li > a {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all .2s linear;
}

.side-nav__footer ul li > a > span {
    position: relative;
    display: block;
    width: 18px;
    height: 16px;
    background: transparent url('../imgs/set_service.png');
    transition: all .2s linear;
}

.side-nav__footer ul li > a > span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity .15s linear;
    opacity: 0;
}

.side-nav__footer ul li > a:hover {
    color: #07f;
}

.side-nav__footer ul li > a:hover span::after {
    opacity: 1;
} 

.side-nav__footer ul li > a > span.icon-1 {
    background-position: 0 0;
}

.side-nav__footer ul li > a > span.icon-1::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px 0;
}

.side-nav__footer ul li > a > span.icon-2 {
    background-position: 0 -50px;
}

.side-nav__footer ul li > a > span.icon-2::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -50px;
}

.side-nav__footer ul li > a > span.icon-3 {
    background-position: 0 -100px;
}

.side-nav__footer ul li > a > span.icon-3::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -100px;
}

.side-nav__footer ul li > a > span.icon-4 {
    background-position: 0 -150px;
}

.side-nav__footer ul li > a > span.icon-4::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -150px;
}

.side-nav__footer ul li > a > span.icon-5 {
    background-position: 0 -200px;
}

.side-nav__footer ul li > a > span.icon-5::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -200px;
}

.side-nav__footer ul li > a > span.icon-6 {
    background-position: 0 -250px;
}

.side-nav__footer ul li > a > span.icon-6::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -250px;
}

.side-nav__footer ul li > a > span.icon-7 {
    background-position: 0 -300px;
}

.side-nav__footer ul li > a > span.icon-7::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -300px;
}

.side-nav__footer ul li > a > span.icon-8 {
    background-position: 0 -350px;
}

.side-nav__footer ul li > a > span.icon-8::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -350px;
}

.side-nav__footer ul li > a > span.icon-9 {
    background-position: 0 -400px;
}

.side-nav__footer ul li > a > span.icon-9::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -400px;
}

.side-nav .side-nav__content::-webkit-scrollbar {
    width: 18px;
}

.side-nav .side-nav__content::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 6px solid white;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.25s linear;
}

.side-nav .side-nav__content:hover::-webkit-scrollbar-thumb {
    background-color: #dde1e5;
}

.allService {
    transition: all .15s linear;
}

.allService:hover {
    color: white;
    background-color: #07f;
}

.contents {
    max-width: 1280px;
    margin: 76px auto 0;
}

.contents h2 {
    font-size: 24px;
    font-family: 'NEXON Gothic';
    font-weight: bold;
}

.contents__inner {
    display: flex;
    justify-content: space-between;
}

.contents__inner .contents__item:nth-child(1) {
    min-width: 644px;
}

.contents__inner .contents__item:nth-child(2) {
    width: 100%;
}

.contents__item--auth {
    display: flex;
    margin-top: 10px;
}

.contents__item--banner {
    background: url('../imgs/banner_recommend_plcc3.png');
    width: 153px;
    margin-right: 8px;
}

.contents__item .contents__item--sub-title {
    padding-right: 8px;
}

.contents__item .contents__item--sub-title h3 {

}

.contents__item .contents__item--sub-title-right {
    display: flex;
    justify-content: end;
    height: 48px;
    padding-top: 18px;
}

.contents__item .contents__item--sub-title-right > div button {
    margin-left: 30px;
    letter-spacing: -0.4px;
    font-size: 14px;
    font-family: 'NEXON Gothic';
}

.contents__item--sub-title {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding-top: 18px;
}

.footer {
    min-height: 278px;
    margin-top: 200px;
    background-color: #222426;
}

.contents__item .swiper {
    margin-top: 10px;
}

.contents__item .swiper .swiper-slide {
    min-width: 161px;
    width: 100%;
}

.contents__item .swiper .swiper-slide > a {
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 342px;
    background-color: white;
}

.slide-content {
    transition: all .15s linear,bottom 0s;
}

.game-img {
    display: block;
    width: 100%;
    background-color: #000;
    transition: all .15s cubic-bezier(.23,1,.32,1)
}

.slide-content:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.slide-content:hover .game-img {
    transform: scale(1.075);
}

.contents__item--login-wrap {
    flex: 1;
    height: 342px;
    padding: 70px 0 0 56px;
    margin-left: 10px;
    background-color: white;
}

.pagination-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pagination-inner {
    position: relative;
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    gap: 1px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    min-width: 255px;
    height: 80px;
    padding: 15px 15px 0 16px;
    border-radius: initial;
    margin: 0 !important;
    margin-bottom: 0;
    text-align: left;
    color: white;
    background-color: transparent;
    transition: all .5s;
}

.swiper-pagination .swiper-pagination-bullet::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
    transition: all .5s;
}

.swiper-pagination .swiper-pagination-bullet > p {
    font-size: 13px;
    font-weight: 700;
    opacity: 0.5;
    transition: all .5s;
}

.swiper-pagination-bullet {
    opacity: initial;
    position: relative;
    overflow: hidden;
}

.swiper-pagination .swiper-pagination-bullet > h4 {
    position: relative;
    margin-top: 8px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'NEXON Gothic';
    opacity: 0.6;
    transition: all .5s;
}

.banner__div .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-image: linear-gradient(0deg,#000,transparent 20.31%);
}

.swiper-pagination-bullet:hover::before {
    opacity: 0.3;
}

.swiper-pagination-bullet:hover h4 {
    opacity: 1;
} 

.swiper-pagination-bullet-active.swiper-pagination-bullet::before {
    opacity: 0.3;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active h4 {
    opacity: 1;
}

.banner__div .swiper-pagination-bullet .progressbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: #07f;
}
