/*
    css 신기술
    https://velog.io/@blackeichi/CSS-%EC%B5%9C%EC%8B%A0-%EA%B8%B0%EC%88%A0
    https://developer.chrome.com/articles/css-nesting/
*/

:root {
    --primary-color: #17191D;
    --accent-color: #0077ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

.hidden,
[hidden] {
    display: none;
}

[center] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-8 {
    margin-top: 8px;
}

body {
    position: relative;
    font-family: 'MALGUN GOTHIC', 'sans serif';
    font-size: 14px;
    background-color: #f8f9fa;
    color: var(--primary-color);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: white;
    border-bottom: 1px solid #dde1e5;
    font-family: 'NEXON Gothic';
}

.logo__img{
    display: block;
}

.header__menu {
    width: 107px;
    font-size: 16px;
    cursor: pointer;
}

.header__menu > a {
    height: 100%;
    padding: 23px 23px 21px;
    color: #17191D;
}

.header__nav {
    height: 100%;
    padding-right: 28px;
}

.header__nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s linear;
}

.hedaer__card,
.header__pcbang,
.haeder__register {
    height: 100%;
    padding: 0 5px 0 6px;
    margin-right: 8px;
}

.haeder__register,
.header__login {
    padding: 0 3px 0 3px;
}

.header__login {
    min-width: 85px;
    height: 36px;
    padding: 0 18px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 19px;
    border: 2px solid #17191d;
}

.haeder__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.haeder__register:hover {
    color: #07f;
}

.hedaer__card:hover .icon-card,
.header__pcbang:hover .icon-pcbang {
    background-color: #07f;
}

.header__login:hover {
    border-color: #07f;
    background-color: #07f;
    color: white;
}

.icon-pcbang,
.icon-card {
    display: block;
    width: 22px;
    height: 22px;
    transition: all .15s linear;
}

.icon-card {
    position: relative;
    background: #191919 url('../imgs/set_gnb_icon@2x.png') 0 0 no-repeat;
    background-size: 100px 350px;
}

/*
.icon-card::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url('../imgs/set_gnb_icon@2x.png');
    background-size: 50px 250px;
    background-repeat: no-repeat;
} 
*/

.icon-pcbang {
    background: #191919 url('../imgs/set_gnb_icon@2x.png') 0 0 no-repeat;
    background-size: 100px 350px;
    background-position: 0 -50px;
}

.base-hover > a,
.base-hover {
    transition: all 0.2s linear 0s;
}

.base-hover:hover > a,
.base-hover:hover {
    color: var(--accent-color);
}

.banner__div {
    height: 560px;
}

.banner__div .swiper-wrapper {
    min-height: 340px;
    max-height: 560px;
    overflow: hidden;
}

.banner__div .swiper-slide {
    /* height: 100%; */
}

.banner__div .swiper-slide a {
    height: 560px;
}

.hambuger {
    position: relative;
    width: 18px;
    height: 16px;
    margin-right: 11px;
}

.hambuger > span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #17191d;
    transition: all 0.2s linear 0s;
}

.hambuger > span:nth-child(1) {}
.hambuger > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hambuger > span:nth-child(3) {
    bottom: 0;
}

.base-hover:hover .hambuger > span {
    background-color: var(--accent-color);
}

.backdrop {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 10;
    transition: all .5s cubic-bezier(.23,1,.32,1);
}

.backdrop.open {
    visibility: visible;
    opacity: 0.7;
}

.side-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 440px;
    height: 100vh;
    background-color: white;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.side-nav.open {
    opacity: 1;
    transform: translateX(0);
}

.side-nav__header {
    display: flex;
    align-items: center;
    height: 63px;
    border-bottom: 1px solid #dde1e5;
}

.close-btn {
    padding: 23px;
}

.close-btn > div {
    position: relative;
    width: 18px;
    height: 18px;
}

.close-btn > div > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.2s linear 0s;
}

.close-btn > div > span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

.close-btn > div > span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.close-btn:hover > div > span {
    background-color: var(--accent-color);
}

.side-nav__tab {
    height: 75px;
    padding: 27px 42px 0;
}

.side-nav__list {
    display: flex;
    justify-content: space-between;
}

.all-game__button {
    display: block;
    height: 32px;
    font-size: 12px;
    padding-top: 9px;
    font-weight: bold;
    border-bottom: #17191D solid 2px;
    font-family: 'NEXON Gothic';
}

.custom-service__button {
    display: block;
    height: 32px;
    width: 80px;
    padding-top: 6px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #9fa1a7;
    color: #737881;
    text-decoration: none;
    font-size: 12px;
    transition: all .15s linear;
}

.side-nav__content {
    flex: 1;
    overflow: auto;
    padding-bottom: 50px;
}

.game-list__cell {
    width: 188px;
    font-size: 12px;
}

.game-list {
    display: flex;
    padding-left: 42px;
}

.game-list h3 {
    height: 50px;
    padding-top: 24px;
    font-size: 12px;
    font-family: 'NEXON Gothic';
}

.game-list__cell a {
    display: block;
    min-height: 24px;
    color: #737881;
    transition: all .15s linear;
    padding-bottom: 8px;
}

.game-list__cell a:hover {
    color: #07f;
}

.side-nav__footer {
    height: 195px;
    background-color: #222426;
    color: white;
    font-size: 12px;
}

.side-nav__footer a {
    display: block;
}

.side-nav__footer > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 145px;
    padding: 30px 0 0 33px;
}

.side-nav__footer > a {
    height: 50px;
    padding-top: 17px;
    text-align: center;
    background-color: #17191d;
    font-weight: 600;
}

.side-nav__footer ul li > a {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all .2s linear;
}

.side-nav__footer ul li > a > span {
    position: relative;
    display: block;
    width: 18px;
    height: 16px;
    background: transparent url('../imgs/set_service.png');
    transition: all .2s linear;
}

.side-nav__footer ul li > a > span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity .15s linear;
    opacity: 0;
}

.side-nav__footer ul li > a:hover {
    color: #07f;
}

.side-nav__footer ul li > a:hover span::after {
    opacity: 1;
} 

.side-nav__footer ul li > a > span.icon-1 {
    background-position: 0 0;
}

.side-nav__footer ul li > a > span.icon-1::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px 0;
}

.side-nav__footer ul li > a > span.icon-2 {
    background-position: 0 -50px;
}

.side-nav__footer ul li > a > span.icon-2::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -50px;
}

.side-nav__footer ul li > a > span.icon-3 {
    background-position: 0 -100px;
}

.side-nav__footer ul li > a > span.icon-3::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -100px;
}

.side-nav__footer ul li > a > span.icon-4 {
    background-position: 0 -150px;
}

.side-nav__footer ul li > a > span.icon-4::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -150px;
}

.side-nav__footer ul li > a > span.icon-5 {
    background-position: 0 -200px;
}

.side-nav__footer ul li > a > span.icon-5::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -200px;
}

.side-nav__footer ul li > a > span.icon-6 {
    background-position: 0 -250px;
}

.side-nav__footer ul li > a > span.icon-6::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -250px;
}

.side-nav__footer ul li > a > span.icon-7 {
    background-position: 0 -300px;
}

.side-nav__footer ul li > a > span.icon-7::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -300px;
}

.side-nav__footer ul li > a > span.icon-8 {
    background-position: 0 -350px;
}

.side-nav__footer ul li > a > span.icon-8::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -350px;
}

.side-nav__footer ul li > a > span.icon-9 {
    background-position: 0 -400px;
}

.side-nav__footer ul li > a > span.icon-9::after {
    background: transparent url('../imgs/set_service.png');
    background-position: 50px -400px;
}

.side-nav .side-nav__content::-webkit-scrollbar {
    width: 18px;
}

.side-nav .side-nav__content::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 6px solid white;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.25s linear;
}

.side-nav .side-nav__content:hover::-webkit-scrollbar-thumb {
    background-color: #dde1e5;
}

.allService {
    transition: all .15s linear;
}

.allService:hover {
    color: white;
    background-color: #07f;
}

.contents {
    max-width: 1280px;
    margin: 76px auto 0;
}

.contents h2 {
    font-size: 24px;
    font-family: 'NEXON Gothic';
    font-weight: bold;
}

.contents__inner {
    display: flex;
    justify-content: space-between;
}

.contents__inner .contents__item:nth-child(1) {
    min-width: 644px;
}

.contents__inner .contents__item:nth-child(2) {
    width: 100%;
}

.contents__item--auth {
    display: flex;
    margin-top: 10px;
}

.contents__item--banner {
    background: url('../imgs/banner_recommend_plcc3.png');
    width: 153px;
    margin-right: 8px;
}

.contents__item .contents__item--sub-title {
    padding-right: 8px;
}

.contents__item .contents__item--sub-title h3 {
    font-family: 'NEXON Gothic';
    font-size: 16px;
    font-weight: 700;
    color: #00cec6;
}

.contents__item .contents__item--sub-title-right {
    display: flex;
    justify-content: end;
    height: 48px;
    padding-top: 18px;
}

.contents__item .contents__item--sub-title-right > div button {
    margin-left: 30px;
    letter-spacing: -0.4px;
    font-size: 14px;
    font-family: 'NEXON Gothic';
}

.contents__item--sub-title {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding-top: 18px;
}

.footer {
    min-height: 278px;
    margin-top: 200px;
    background-color: #222426;
}

.contents__item .swiper {
    margin-top: 10px;
}

.contents__item .swiper .swiper-slide {
    min-width: 161px;
    width: 100%;
}

.contents__item .swiper .swiper-slide > a {
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 342px;
    background-color: white;
}

.slide-content {
    transition: all .15s linear,bottom 0s;
}

.game-img {
    display: block;
    width: 100%;
    background-color: #000;
    transition: all .15s cubic-bezier(.23,1,.32,1)
}

.slide-content:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.slide-content:hover .game-img {
    transform: scale(1.075);
}

.contents__item--login-wrap {
    flex: 1;
    height: 342px;
    padding: 70px 0 0 56px;
    margin-left: 10px;
    background-color: white;
}

.pagination-wrap {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1400px;
    transform: translateX(-50%);
    z-index: 10;
}

.pagination-inner {
    position: relative;
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    gap: 1px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    min-width: 255px;
    height: 80px;
    padding: 15px 15px 0 16px;
    border-radius: initial;
    margin: 0 !important;
    margin-bottom: 0;
    text-align: left;
    color: white;
    background-color: transparent;
    transition: all .5s;
}

.swiper-pagination .swiper-pagination-bullet::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
    transition: all .5s;
}

.swiper-pagination .swiper-pagination-bullet > p {
    font-size: 13px;
    font-weight: 700;
    opacity: 0.5;
    transition: all .5s;
}

.swiper-pagination-bullet {
    opacity: initial;
    position: relative;
    overflow: hidden;
}

.swiper-pagination .swiper-pagination-bullet > h4 {
    position: relative;
    margin-top: 8px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'NEXON Gothic';
    opacity: 0.6;
    transition: all .5s;
}

.banner__div .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-image: linear-gradient(0deg,#000,transparent 20.31%);
    pointer-events: none;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet::before,
.swiper-pagination-bullet:hover::before {
    opacity: 0.3;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active h4,
.swiper-pagination-bullet:hover h4 {
    opacity: 1;
} 

.banner__div .swiper-pagination-bullet .progressbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: #07f;
}

.banner__div .swiper-button-prev {
    top: 45px;
    width: 30px;
    height: 30px;
    background-image: url('../imgs/set_promotion.png');
    transition: all 0.15s;
}

.banner__div .swiper-button-next {
    top: 45px;
    width: 30px;
    height: 30px;
    background-image: url('../imgs/set_promotion.png');
    background-position: 50px 0;
    opacity: 0.3;
    transition: all 0.15s;
}

.banner__div .swiper-button-prev,
.banner__div .swiper-button-next {
    opacity: 0;
}

.banner__div:hover .swiper-button-prev,
.banner__div:hover .swiper-button-next {
    opacity: 0.3;
}

.banner__div .swiper-button-next.swiper-button-disabled,
.banner__div .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
} 

.banner__div .swiper-button-next::after,
.banner__div .swiper-button-prev::after {
    display: none;
}

.banner__div .swiper-button-prev:hover,
.banner__div .swiper-button-next:hover {
    opacity: 1;
}

.contents__item .contents__item--sub-title > div {
    display: flex;
}

#recommend-left {
    width: 28px;
    height: 28px;
    margin-right: -1px;
    background: url('../imgs/set_recommend.svg') no-repeat -49px 1px;
    border: 1px solid #9fa1a7;
}

#recommend-right {
    width: 28px;
    height: 28px;
    background: url('../imgs/set_recommend.svg') no-repeat -49px -49px;
    border: 1px solid #9fa1a7;
}

.recommend-item {
    width: 32px;
    height: 16px;
    margin: 16px 0 0 12px;
    text-align: center;
    font: 10px Malgun Gothic;
    font-weight: 700;
    line-height: 16px;
    border-radius: 20px;
    color: white;
    background-color: #00dbd3;
}

.recommend-item.pick {
    background-color: #f78029;
}

.recommend-item-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    width: 129px;
    height: 36px;
    margin: 8px 0 4px 12px;
    font-family: 'NEXON Gothic';
    font-weight: bold;
    font-size: 14px/18px;
    color: #17191d;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 353px;
    height: 60px;
    background-color: #17191D;
    color: white;
    font-family: 'NEXON Gothic';
    font-weight: bold;
    font-size: 15px;
}

.button-form {
    display: flex;
    gap: 1px;
}

.QR-login,
.disposable-login {
    width: 176px;
    height: 52px;
    background-color: #4a4e57;
    color: white;
    font-family: 'NEXON Gothic';
    font-weight: bold;
    font-size: 15px;
}

.other-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    width: 353px;
    height: 42px;
    text-align: center;
    background-color: #f8f9fa;
}

.other-text {
    font-size: 12px;
    color: #9fa1a7;
    letter-spacing: -.3px;
}

.other-login-link {}

.other-login-link > a {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 6px;
    background: url('../imgs/set_login.png') no-repeat 0 0;
    background-size: 100px auto;
    transition: all .15s linear;
}

.other-login-link > a:nth-child(1) {
    background-position: 0 -50px;
}

.other-login-link > a:nth-child(2) {
    background-position: 0 -100px;
}

.other-login-link > a:nth-child(3) {
    background-position: 0 -150px;
}

.other-login-link > a:nth-child(4) {
    background-position: 0 -200px;
}

.other-login-link > a:hover {
    opacity: 0.5;
}

.etc-form {
    width: 353px;
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
}

.etc-form button {
    color: #737881;
    text-decoration: none;
    font-size: 12px;
}

.etc-form div:nth-child(1) button {
    margin-right: 16px;
}

.contents .recommend {
    height: 496px;
}

.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.allgame {

}

.allgame-header {
    display: flex;
    justify-content: space-between;
}

.allgame-left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

/* 20px 30px 3px */
.tag-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 20px 30px 3px ;
    margin: 29px 0 20px 0;
    background: white;
}

.tag-box button {
    display: block;
    height: 21px;
    padding: 1px 10px 0;
    margin: 0 16px 17px 0;
    color: #9fa1a7;
    letter-spacing: -.3px;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #fff;
    font-family: 'malgun gothic';
    font-size: 12px;
    cursor: pointer;
    transition: all .15s linear,bottom 0s;
}

.show-games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 60px;
    padding: 15px 0 40px;
}

.show-games li {
    display: flex;
    flex-direction: column;
    height: 320px;
    background-color: white;
    transition: all .15s linear, bottom 0s;
    overflow: hidden;
}

.show-games li img {
    display: block;
    transition: all .15s cubic-bezier(.23,1,.32,1);
}

.show-games li .info {
    flex: 1;
    padding: 0 20px 0;
}

.show-games li h4 {
    font-size: 16px;
    font-family: 'NEXON Gothic';
    font-weight: 700;
    margin-bottom: 4px;
}

.show-games li .event,
.show-games li .category {
    font-size: 12px;
    color: #9fa1a7;
}

.show-games li .event {
    font-weight: 700;
    color: #07f;
    padding-right: 4px;
}

.show-games li:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.show-games li:hover img {
    transform: scale(1.1);
}

.img-wrap {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.device-wrap {
    display: flex;
    justify-content: end;
    gap: 6px;
    min-height: 36px;
    padding: 0 18px;
}

.device-wrap .PAD,
.device-wrap .MOBILE,
.device-wrap .PC {
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../imgs/set_os.svg') no-repeat 0 0;
    transition: all .15s linear;
    cursor: pointer;
}

.device-wrap .PC {
    background-position: -50px 0;
}

.device-wrap .MOBILE {
    background-position: -50px -50px;
}

.device-wrap .PAD {
    background-position: -50px -100px;
}

.device-wrap .PAD::after,
.device-wrap .MOBILE::after,
.device-wrap .PC::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: url('../imgs/set_os.svg') no-repeat 0 0;
    transition: all .15s linear;
    opacity: 1;
}

.device-wrap .PC::after {
    background-position: 0 0;
}

.device-wrap .MOBILE::after {
    background-position: 0 -50px;
}

.device-wrap .PAD::after {
    background-position: 0 -100px;
}

/* .device-wrap .PAD:hover,
.device-wrap .MOBILE:hover,
.device-wrap .PC:hover {
    opacity: 0;
} */

.device-wrap .PAD:hover::after,
.device-wrap .MOBILE:hover::after,
.device-wrap .PC:hover::after {
    opacity: 0;
}

.footer {
    position: relative;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    height: 73px;
    padding: 28px 40px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

.footer-top > a {
    font-weight: 700;
    letter-spacing: -.3px;
    font-size: 12px;
}

.footer-top > a:hover {
    text-decoration: underline;
}

.footer-mid-left > ul {
    display: flex;
}

.footer-mid-left > ul > li {
    display: flex;
    color: rgba(248, 249, 250, .7);
    letter-spacing: -.3px;
    font-size: 12px;
}

.footer-mid-left > ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 2px 12px 0;
    background-color: hsla(0, 0%, 100%, .2);
}

.footer-mid-left > ul li:last-child:after {
    display: none;
} 

.footer-mid-left > ul:nth-child(1) {
    padding: 31px 96px 0 40px;
}

.footer-mid-left > ul:nth-child(2) {
    padding: 14px 96px 13px 40px;
}

.footer-mid {
    display: flex;
    justify-content: space-between;
}

.footer-mid-right {
    padding: 12px 40px 0 0;
}

.footer-mid-right .selected {
    position: relative;
    width: 140px;
    height: 34px;
    background-color: #393A3C;
    letter-spacing: -.3px;
    color: rgba(248, 249, 250, .8);
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
}

.footer-mid-right .selected a {
    height: 100%;
    padding: 9px 9px 0 14px;
}

.footer-mid-right .selected > ul {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: calc(-100% - 136px);
    width: 100%;
    background-color: #17191d;
    transition: all .2s linear;
    opacity: 0;
    color: white;
}

.footer-mid-right .selected.open > ul {
    opacity: 1;
    visibility: visible;
} 

.footer-mid-right .selected > ul a {
    display: block;
    width: 100%;
    height: 34px;
    padding: 9px 0 0 14px;
    font-size: 12px;
    text-align: left;
    color: rgba(248, 249, 250, .8);
}

.footer-bottom > div{
    padding: 16px 96px 0 40px;
    color: rgba(248, 249, 250, .3);
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -.3px;
}

.footer-bottom .logo {
    height: 83px;
    padding: 21px 0 0 39px;
}

.footer-bottom .logo > a {
    display: block;
    width: 68px;
    height: 23px;
    background: url('../imgs/set_footer.png') no-repeat;
}

.sns {
    display: flex;
}

.sns a {
    display: block;
    width: 19px;
    height: 19px;
    background: white url('../imgs/set_footer.png') 0 0 no-repeat;
    transition: all .15s linear, bottom 0s;
}

.sns li:hover a {
    background-color: #07f;
} 

.sns li {
    padding: 3px;
}

.sns .youtube {
    background-position: 0 -50px;
}

.sns .twitter {
    background-position: 0 -100px;
}

.sns .facebook {
    background-position: 0 -150px;
}

.selected li a,
.selected > a {
    transition: all .15s linear, bottom 0s;
}

.selected li:hover a,
.selected > a:hover {
    color: #07f;
}

.selected > a:hover .icon-earth {
    background-color: #07f;
}

.selected > a {
    display: flex;
    justify-content: space-between;
}

.selected > a > span {
    display: block;
}

.icon-earth {
    display: block;
    width: 18px;
    height: 18px;
    background: white url('../imgs/set_footer.png') 0 0 no-repeat;
    background-position: 0 -250px;
    transition: all .15s linear, bottom 0s;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    z-index: 10;
    transition: all .15s linear, bottom 0s;
    background-color: #f8f9fa;
    border: 2px solid #9fa1a7;
}

.top-button:hover {
    border-color: #07f;
}

.top-button.active {
    position: absolute;
    top: -56px;
}

.icon-top-arrow {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../imgs/set_floating.svg') no-repeat 0 0;
    opacity: 1;
    transition: all .15s linear;
    background-position: 0 0;
}

.icon-top-arrow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url('../imgs/set_floating.svg') no-repeat 0 0;
    opacity: 0;
    background-position: -50px 0;
    transition: all .15s linear;
}

.icon-top-arrow:hover::after {
    opacity: 1;
}

.view-type-form {
    display: flex;
    align-items: center;
}

.view-type-form > button {
    width: 26px;
    height: 26px;
    background: #c7c8cc url(https://rs.nxfs.nexon.com/home/images/main/set_main.svg) no-repeat -350px 0;
    transition: all .15s linear;
}

.view-type-form > button.thumbnail {
    background-position: 0 -400px;
}

.view-type-form > button.list {
    background-position: 0 -450px;
}

.go-community {
    display: flex;
    gap: 3px;
    font-family: 'NEXON Gothic';
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: -.33px;
    text-align: left;
    color: #4a4e57;
}

.icon-community {
    display: block;
    width: 18px;
    height: 18px;
    background: url('../imgs/set_community.svg') no-repeat 0 0;
    transition: all .15s linear;
    background-position: 0px -250px;
}

.icon-link {
    display: block;
    width: 18px;
    height: 18px;
    background: url('../imgs/set_newpage.svg') no-repeat 0 0;
    transition: all .15s linear;
    background-position: 0 0;
}

.search-form {
    border-left: none;
    border-right: none;
    border-top: none;
}

.search-form {
    width: 302px;
    height: 44px;
    padding: 0 3px;
    margin-right: 0;
    color: #222426;
    letter-spacing: -.3px;
    border-bottom: 1px solid #dde1e5;
    transition: all .15s linear;
    background-color: transparent;
}

.search fieldset {
    position: relative;
    border: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
}

.search-btn > span{
    display: block;
    width: 20px;
    height: 20px;
    background: #17191d url('../imgs/set_main.svg') no-repeat -1px -301px;
    transition: all .15s linear;
}