@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul, 
li {
    list-style: none;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    font-size: 16px;
}

body {
    background: white;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-size: 12px; */
}

svg {
    display: block;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #111;
    color: #f9f9f9;
    font-size: 13px;
    font-family: 'malgun gothic', sans-serif;
    z-index: 100;
}

.header-space {
    height: 80px;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 36px;

}

.header .logo {
    height: 100%;
}

.header .logo > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header .logo .arrow-down {
    margin-top: 5px;
}

.header .logo > a:hover svg {
    fill: #eb0029;
}

.header .logo-outer {
    display: flex;
    align-items: center;
    width: 38px;
    height: 100%;
    margin-left: 22px;
}

.header .logo-outer a {
    display: flex;
}

.header-nav {
    display: flex;
    flex: 1;
    margin-left: 18px;
}

.header-nav a {
    display: flex;
    align-items: center;
    height: 66px;
    padding: 7.5px 16px;
    margin: 7px 4px 7px 0;
    text-align: center;
    letter-spacing: 0.2px;
    word-break: keep-all;
    font-weight: 600;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98),
    border-color .5s cubic-bezier(0.06, 0.81, 0, 0.98);
}

.header-nav a .arrow-down {
    margin-left: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.header-right .search-form svg {
    fill: #f9f9f9;
}

.search-form {
    position: relative;
    height: 40px;
    border-radius: 1.6rem;
    background-color: #2b2a29;
}

.search-form input {
    width: 25px;
    padding: 0;
    margin: -8px 10px;
    transition: width ease 1s;
    text-indent: 40px;
    border: none;
    background-color: transparent;
}

.search-form svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.icon-wrapper {
    width: 32px;
    height: 32px;
}

.icon-wrapper .warning {
    margin: 6px;
}

.icon-wrapper .language {
    margin: 8px;
}

.header-right .login {
    width: 71px;
    padding: 8px 16px;
    margin: 0 6px;
    text-align: center;
    background-color: #2b2a29;
    border-radius: 6.4px;
    font-weight: 600;
}

.header-right .register {
    width: 84px;
    height: 32px;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 0 6px;
    color: #111;
    text-align: center;
    background: rgb(11, 196, 226);
    font-weight: 600;
}

.backdrop {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    opacity: 0.7;
    transition: opacity .15s;   
}

.header-nav-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 320px;
    background: white;
    font-family: 'Arial', sans-serif;
}

.backdrop.active {
    visibility: visible;
}

.header-nav-menu.active {
    visibility: visible;
}

.header-nav-menu header {
    position: relative;
    height: 78.391px;
    padding: 24px 24px 0 24px;
}

.header-nav-menu header .logo {
    position: relative;
    display: inline-block;
    height: 50px;
    margin-left: 42px;
    width: 75px;
}

.header-nav-menu header .logo a {
    position: absolute;
    top: 3px;
    left: -30px;
    display: inline-block;
    align-items: center;
}

.header-nav-menu header .logo .logo-svg {
    fill: #111;
    width: 85px;
    height: 27px;
}

.header-nav-menu header .logo .arrow-up {
    position: absolute;
    margin-left: 0;
    top: 10px;
    left: 87px;
    fill: #7e7e7e;
    width: 8px;
    height: 5px;
}

.header-nav-menu header .close {
    position: absolute;
    top: 24px;
    right: 34px;
}

.header-nav-menu header .close .close-svg {
    width: 32px;
    height: 32px;
}

.header-nav-menu .content {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 10px 32px;
}

.header-nav-menu .content .content-inner {
    display: flex;
    padding: 0px 24px;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    gap: 16px;
    max-width: 1920px;
}

.header-nav-menu .content-left,
.header-nav-menu .content-right {
    min-width: 50%;
    flex: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.header-nav-menu.active .content-left,
.header-nav-menu.active .content-right {
    opacity: 1;
}

.header-nav-menu .content-left {
    columns: 10em 3;
    column-gap: 10px;
}

.header-nav-menu .content-left > div {
    width: 100%;
    break-inside: avoid;
    overflow-x: auto;
    padding-bottom: 16px;
}

.header-nav-menu .content-left > div h4 {
    height: 32px;
    padding: 8px 12px 8px 16px;
    background: rgba(186,186,186,.1);
    border-radius: 6.4px;
    font-size: 13px;
    line-height: 120%;
}

.header-nav-menu .content-left > div li {
    padding: 8px 16px;
    margin: 4px 0px;
    font-size: 13px;
    line-height: 120%;
    color: #4a4a4a;
}

.header-nav-menu .content-right {
    display: flex;
    width: 100%;
    min-height: 320px;
    gap: 16px;
}

.header-nav-menu .content-right > div {
    max-width: 452px;
}

.header-nav-menu .content-right img {
    display: block;
    max-width: 452px;
    width: 100%;
    border-radius: 8px;
    transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header-nav-menu .content-right img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,.05), 0 10px 10px rgba(0,0,0,.02);
}

.header-nav-menu .content-right h4 {
    color: #0a0a0a;
    margin: 16px 0 0 0;
    letter-spacing: .03em;
    width: 100%;
    position: static;
    display: inline-block;
    left: 0px;
    bottom: 8px;
    text-transform: unset;
    font-family: unset;
    font-weight: 300;
    font-size: 13px;
    line-height: 15.6px;
    text-align: left;
}

.news-wrap {
    margin-top: -120px;
    padding-top: 120px;
    min-height: 400px;
    background: url('../imgs/bg.png');
}

.background-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.banner-main {
    position: relative;
    min-height: 31.25rem;
    padding: 3.75rem;
}

.banner-main .video-wrap {
    max-width: 1680px;
    margin: 0 auto;
}

.banner-main video {
    display: block;
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.banner-main .video-wrap > canvas {
    position: absolute;
    left: 8px;
    top: -12px
}

.banner-main .video-wrap {
    position: relative;
}

.banner-main .image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.banner-main .image-wrap-inner {
    width: 40vw;
    height: calc(17.6333vw);
    max-width: 37.5rem;
    max-height: 16.5312rem;
}

.banner-main .image-wrap img {
    width: 100%;
}

.banner-main .image-wrap .button-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.625rem;
}

.banner-main .image-wrap .button-wrap button {
    position: relative;
    background-color: rgb(11, 198, 227);
    border: none;
    font-size: 13px;
    font-weight: 600;
    min-width: 195px;
    height: 56px;
    transition: background-color 200ms ease 0s, opacity 0.01s ease 400ms;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

.banner-main .image-wrap .button-wrap canvas {
    position: absolute;
    left: -5px;
    top: -5px;
}

.news-wrap {
    display: flex;
    flex-direction: column;
}

.news-wrap > div {
    display: flex;
}

.news-wrap .left > div {
    z-index: 10;
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

.news-wrap .left > div span {
    display: block;
    padding-top: 100%;
    transform: rotate(-90deg) translate(-100%, -50%);
    transform-origin: left top;
    white-space: nowrap;
    color: rgb(28, 29, 42);
    font-size: 0.625rem;
    letter-spacing: 0.25em;
    font-weight: bold;
}

.news-wrap .left > div span::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.4em;
    height: 1px;
    margin-left: 0.5em;
    background-color: currentcolor;
}

.news-wrap .middle {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 200px;
}

.news-wrap .left,
.news-wrap .right {
    width: 60px;
}

.news-wrap .middle > article {
    position: relative;
    display: flex;
    width: 30%;
    height: 100%;
}

.news-wrap .middle > article > div {
    display: flex;
    height: 100%;
    font-size: 12px;
}

.news-wrap .middle > article > div:nth-child(1) {
    align-items: center;
    max-width: 145px;
    min-width: 145px;
    width: 100%;
}

.news-wrap .middle > article > div:nth-child(2) {
    flex-direction: column;
    max-width: 85%;
    padding: 10px;
} 

.news-wrap .middle > article img {
    object-fit: cover;
    width: 100%;
    height: 90%;
}

.news-wrap .middle > article .canvas-wrap {
    position: absolute;
    left: 10px;
    right: 2px;
}

.news-wrap .middle > article > div p {
    margin-top: 8px;
}

.news-wrap .middle > article > div h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: normal;
}

.news-wrap .middle > article > div small {
    color: rgb(188, 188, 188);
    font-size: 10px;
    font-weight: 600;
}

.all-view-button {
    display: flex;
    justify-content: end;
    padding: 0 60px;
}

.all-view-button > a > span {
    display: block;
}

.all-view-button > a {
    display: flex;
    margin-top: 1.5625rem;
    font-size: 12px;
    font-weight: medium;
    font-family: 'Noto Sans KR', sans-serif;
}

.all-view-button svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 6px;
    fill: rgb(11, 198, 227);
    transition: transform 200ms ease 0s;
}

.champion .title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 60px;
    text-align: center;
    color: white;
}

.champion .title > h3 > div {
    display: inline-block;
    padding: 0px 30px;
    margin-right: 22px;
    border-right: 1px solid white;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.champion .title canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.champion .title .right {
    display: flex;
    width: 100px;
}

.champion .title a {
    padding: 4px 8px;
}

.champion .title svg {
    fill: white;
}

.champion .selection-champ {
    position: relative;
    padding: 140px 0px 15vw;
}

.champion .selection-champ header {
    display: flex;
}

.champion .selection-champ header .left {
    width: 60px;
    flex: 0 0 auto;
}

.champion .selection-champ header .right {
    flex: 1;
}

.champion .selection-champ .selection-champ-main {
    margin-top: calc(181.54px + -21.63vw);
}

.champion .selection-champ header .right .top {
    text-align: center;
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
}

.champion .selection-champ header .right h4 {
    text-align: center;
    font-size: calc(37.09px + 1.82vw);
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.champion .selection-champ header .right small {
    display: block;
    line-height: 1.6;
    margin: 12px auto 0px;
    font-size: 0.875rem;
    text-align: center;
    font-size: 12px;
    font-weight: medium;
}

.champion .selection-champ header .right .button-wrap {
    position: relative;
    margin-top: 0.9375rem;
    text-align: center;
}

.champion .selection-champ header .right .button-wrap > button {
    position: relative;
    margin: 8px;
    min-width: 220px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.champion .selection-champ header .right .button-wrap > button canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.champion .selection-champ-main {
    display: flex;
}

.champion .selection-champ-main .left,
.champion .selection-champ-main .right {
    width: 50%;
}

.champion .selection-champ-main .right {
    padding-right: 60px;
}

.champion .selection-champ-main .right img {
    width: 100%;
    height: 100%;
}

.champion .selection-champ-main .button-wrap > button {
    padding: 12px;
    border: 0px;
    background: transparent;
}

.class-wrap {
    width: 70px;
    height: 70px;
}

.class-svg {
    fill: rgb(195, 144, 49);
}